.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
h1{
    background: #418cfd;
    margin: 0;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    margin-top: -4px;
}
#navigation{
    display: flex;
}

#navigation img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    opacity: 0.5;
}
#navigation img:is(:hover, .active){
    opacity: 1;
}
.img-wrapper{
    position: relative;
}
.img-wrapper #back{
    position: absolute;
    top: 48%;
    background: #418cfd;
    box-shadow: none !important;
    border: none !important;
    padding: 15px 30px;
    font-size: 23px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .3s;
    color: #fff;
    font-weight: 600;
}
.img-wrapper #forword{
    position: absolute;
    top: 48%;
    right: 0;
    background: #418cfd;
    box-shadow: none !important;
    border: none !important;
    padding: 15px 30px;
    font-size: 23px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all .3s;
    color: #fff;
    font-weight: 600;
}
.img-wrapper #back:hover,
.img-wrapper #forword:hover{
    background-color: #fff;
    color: #000;
}